<!DOCTYPE html>
<html lang="en">

<head>

    <title>Document</title>
</head>
<link rel="stylesheet" href="/styles/base.css">
<link rel="stylesheet" href="/styles/layouts.css">
<link rel="stylesheet" href="/styles/modules.css">

<body>
       
        <header>
                <ul>
                    <li class="btn2"> <a href='/index'> Home Page</a> </li>
                    <li class="btn3"><a href='/results'> Results</a> </li>
                    <li class="btn4"><a href='/contact'> Contact us</a> </li>
                </ul>
            </header>
                
    <h1 class="qoute">“99 percent of all statistics only tell 49 percent of the story.”</h1>
    <h2 class="list">The tales of your numbers :</h2>



    <% item.forEach(task => { %>
    <form action="/delete/ <%- task.number_id %>" method="post">
        <input type="hidden" name="_method" value="delete">
        <input type="hidden" name="id" value='<%= task.number_id %>'>
        <ul>
            <li id="number"> The Number You Enter is <%= task.number %></li>
            <li id="type"> The Type You Chose is <%= task.type %></li>
            <li id="text"> The Results is <%= task.text %></li>
            <li><button class="btn55">Delete</button></li>


        </ul>

    </form>
    <% }) %>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>


    <script src="../../public/app.js"></script>


    <footer> All copyrights &copy;  reseved 2019 Fantastic 4 </footer>
</body>

</html>